<!DOCTYPE html>
<html lang="en" ng-app="IMDBAPIApp">
<head>
	<meta charset="UTF-8">
	<title>IMDB API Angular App</title>
	<link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
	<script src="/static/lib/js/angular.min-1.5.0.js"></script>
	<script src="/static/lib/js/angular-route.min-1.5.0.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
	<script src="/static/js/filters.js"></script>
	<!-- Logo for Social Media -->
	<link rel="image_src" href="https://angularjs.org/img/AngularJS-large.png" />
	<!--[if IE]>
	<h1>Warning!</h1>
	<h2>This AngularJS/AJAX example is not supported under Microsoft Explorer.</h2>
	<h3>Please use a proper Internet Browser.</h3>
	<![endif]-->
</head>
<body ng-controller="ArtistListCtrl">

    {% if user_name %}
        <h1>Hello {{ user_name }} !</h1>
    {% endif %}

    {% if you_open_game %}
        <h2> You open game. Click to continue.</h2>
        <a href="/you_open_game">Click</a>
    {% else %}
        <h2> A game player is waiting for you! Click to continue.</h2>
        <a href="/join_game">Click</a>
    {% endif %}


	<!-- Main AngularJS directive -->
    <!--
        <div ng-view>
        </div>
    -->

​
	<!-- extra files -->
	<script src="/static/lib/js/jquery-2.2.0.min.js"></script>
	<script src="/static/lib/js/bootstrap.min.js"></script>
​


</body>
</html>
